<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Mp3 Converter</title>
  </head>
  <body>
    <div class="top-container">
      <form action="convert-mp3" method="post" id="form">
        <h1><i class="fa-brands fa-youtube"></i>Youtube Mp3 Converter</h1>
        <h4>Video ID</h4>
        <input type="text" name="VideoID" placeholder="Video ID"><button type="button" id="convert-btn">Convert</button>
      </form>
    </div>

    <div class="bottom-container">
<% if(typeof success != "undefined" && success) { %>
  <div class="success">
    <p><%= song_title %></p>
    <a href="<%= song_link %>"><button type="button" id="download-btn">DOWNLOAD</button></a>
  </div>
  <% } else if(typeof success != "undefined" && !success) { %>
    <div class="errors">
      <p><%= message %></p>
    </div>
<% } %>
  </div>

  </body>
</html>
